# MLflow
MLFLOW_TRACKING_URI=http://experiment-tracking:5000

# Prefect
PREFECT_API_URL=http://orchestration:4200/api
PREFECT_SERVER_DATABASE_CONNECTION_URL=postgresql+asyncpg://postgres:postgres@database/prefect_db

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONTAINER_HOST=database
POSTGRES_MONITORING_DB=monitoring_db
